$primary-color: #658fff;
$secondary-color: #7986cb;
$online-color: #3bb23d;
$offline-color: #6e7b8b;
$primary-grey: #c7c6c8;
img {
  width: 50px;
}

.navbar {
  box-shadow: rgba(149, 157, 165, 0.151) 0px 8px 24px;
  height: 8vh;
  background-color: #fff;
  &__brand {
    width: 5%;
    img {
      width: 100%;
    }
  }
  &__container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__links,
  &__btn {
    margin-left: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font: 1.2rem;
    width: fit-content !important;
    cursor: pointer;
  }
}

.home {
  background-color: $primary-color;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__wrapper {
    width: 80%;
    margin: auto;
    background: #f9f9f9;
    height: 80vh;
    border-radius: 0.4rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 20% 55% 25%;
  }
  &__container {
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
  }
  &__currUser {
    border-bottom: 1px solid $primary-grey;
    padding-bottom: 0.9rem;
    &-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-avatar {
      margin-right: 0.7rem;
      &-block {
        width: 60px;
        height: 50px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
    &-detail {
      margin-left: -2rem;
      h5 {
        color: $primary-color;
        text-transform: capitalize;
        font-size: 1rem;
        letter-spacing: 1px;
      }
      p {
        color: #c7c6c8;
      }
    }
  }
  &__users-search {
    width: 100%;
    margin: 1.3rem 0;
    input {
      width: 90%;
      border: navajowhite;
      padding: 0.8rem 0;
      border-radius: 1rem;

      &::placeholder {
        color: lightgray;
        font-size: 0.9rem;
        padding-left: 0.5rem;
      }
    }
  }
  &__users {
    &-block {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 1rem;
    }
    &-heading {
      font-size: 1.3rem;
      color: $secondary-color;
      margin-bottom: 1rem;
      font-weight: 500;
      letter-spacing: 1px;
      text-align: center;
      border-bottom: 1px solid $primary-grey;
      padding-bottom: 1rem;
    }
    &-avatar {
      position: relative;
      &-block {
        width: 50px;
        height: 50px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      &-status {
        height: 12px;
        width: 12px;
        position: absolute;
        bottom: -1%;
        right: -6%;
        border-radius: 50%;
        &--online {
          background: $online-color;
        }
        &--offline {
          background: $offline-color;
        }
      }
    }
    &-name {
      margin-left: 0.7rem;
      h5 {
        color: #658fff;
        text-transform: capitalize;
        font-size: 1rem;
        letter-spacing: 1px;
      }
      p {
        color: #c7c6c8;
      }
    }
    &-time {
      color: #c7c6c8;
      span {
        background: #658fff;
        color: #fff;
        border-radius: 50%;
        display: block;
        width: 19px;
        text-align: center;
        margin-left: auto;
      }
    }
  }
  &__messages {
    &-container {
      background: #fff;
      padding-top: 1rem;
    }
    &-block {
      width: 95%;
      margin: auto;
      position: relative;
      min-height: 77vh;
      height: 77vh;
    }
    &-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #e9e7e7;

      &-status {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin-left: 1rem;

        &--online {
          background-color: $online-color;
        }
        &--offline {
          background-color: $offline-color;
        }
      }

      &-name {
        text-transform: capitalize;
        font-size: 1.5rem;
        font-weight: normal;
        color: #595959;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    &-avatar {
      width: 50px;
      height: 50px;
      margin-right: 1.3rem;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
  &__chatbox {
    height: 80%;
    max-height: 67vh;
    overflow-y: scroll;
    &-message {
      max-width: 50%;
      margin-bottom: 1.5rem;

      &-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      &-avatar {
        width: 33px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      &-text {
        margin-left: 1rem;
        font-size: 0.9rem;
        padding: 0.5rem 1.3rem;
        background: #f9f9f9;
        border-radius: 0.7rem;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__chatbox-message--own {
    margin-left: auto;
    .home__chatbox-message-container {
      justify-content: flex-end;
    }
    .home__chatbox-message-avatar {
      order: 1;
    }
    .home__chatbox-message-text {
      background: #4b82f7;
      color: #fff;
    }
  }
  .message__form {
    width: 94%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f9f9f9;
      // border: 1px solid #000;
      label {
        padding-left: 1rem;
        cursor: pointer;
      }
    }
    &-input {
      width: 91%;

      input {
        border: none;
        width: 100%;
        height: 100%;
        background-color: #f9f9f9;
        border: 1px solid $primary-grey;
        padding: 0.5rem 0.3rem;
        margin: 0 2.3rem;
        width: 90%;
        background: #fff;
        border-radius: 0.2rem;

        &::placeholder {
          padding-left: 2rem;
          color: #595959;
        }
      }
    }
    button {
      cursor: pointer;
      background-color: $primary-color;
    }
  }

  .user__summary {
    &-container {
      width: 90%;
      margin: 0 auto;
    }
    &-search {
      margin-top: 1rem;
      border-bottom: 1px solid $primary-grey;
      padding-bottom: 1rem;
      input {
        width: 90%;
        border: navajowhite;
        padding: 0.8rem 0;
        border-radius: 1rem;

        &::placeholder {
          color: lightgray;
          font-size: 0.9rem;
          padding-left: 0.5rem;
        }
      }
    }
    &-img {
      width: 35%;
      height: 122px;
      position: relative;
      margin: 1.5rem auto;
      border: 2px solid #0e0e0e;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    &-status {
      height: 20px;
      width: 20px;
      position: absolute;
      bottom: -1%;
      right: 6%;
      border-radius: 50%;

      &--online {
        background: $online-color;
      }
      &--offline {
        background: $offline-color;
      }
    }
    &-name {
      text-transform: capitalize;
      text-align: center;
      font-size: 1.7rem;
      color: #8f8f8f;
    }
    &-work {
      font-weight: 600;
      color: #8f8f8f;
      text-align: center;
      font-size: 1rem;
    }
    &-attachments {
      margin-top: 1rem;
      &-group {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 14px;
      }
      &-item {
        text-align: center;
        background: #ebecff;
        padding: 0.7rem 0.5rem;
        border-radius: 0.6rem;
        color: #b5c9f3;
        cursor: pointer;
      }
    }
    .showMoreBtn {
      margin-top: 1rem;
    }
  }
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  background: #000;
  margin-top: 0 !important;
  &:hover .profile__overlay {
    opacity: 1;
  }

  &__wrapper {
    position: relative;
    width: 45%;
    height: 45vh;
    background: url("https://i.imgur.com/sAtgYjl.jpg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: 12px;
    border-top-right-radius: 35px !important;
    border-radius: 6px;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    cursor: pointer;
    opacity: 0;
    transition: all 1s;
    border-top-right-radius: 35px !important;
    border-radius: 6px;
  }

  &__details {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 40%;
    color: #fff;
    flex: column;

    h2 {
      font-size: 1.8rem;
      letter-spacing: 2px;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
    }
  }

  &__upload {
    display: flex;
    list-style: none;
    bottom: 10px;
    position: absolute;
    text-align: center;
    justify-content: center;
    width: 100%;

    label {
      width: 100%;
      display: block;
      border: 1px solid var(--primary);
      border-radius: 50%;
      margin: 10px auto;
      line-height: 30px;
      color: var(--primary);
      font-weight: bold;
      font-size: 24px;
      cursor: pointer;

      input {
        height: 0;
        width: 0;
        opacity: 0;
      }
    }

    div {
      height: 25px;
      border: 1px solid #eee;
      padding: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      border-radius: 5px;
      transition: all 1s;
      width: 90%;
      margin: auto;
    }
  }
}

.upload-icon div:hover {
  background: #fff;
  color: #000;
}

.overlay .about {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 40%;
  color: #fff;
  flex: column;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #00aeff, #a68eff);
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px;
}
